i.phone-directory {
    background-image: url('phone-icon-01-18.jpg');
	width: 60px !important;
    background-size: 60px 20px;
    background-repeat: no-repeat;
}


.pd_info_carousel {
	padding:10px;
	width: 96%;
    margin-left: 24px;
}
.pd-notice {
   background: #9b8fd8;
   color: #fff;
   margin-left: 0px;
}

.pd-notice {
   border-left-color: #f50029;
}

.sbd-map-api-hint{
  overflow: hidden;
}
/*.sbd-map-api-hint .w-60{
  width: 60%;
}*/
.sbd-color-red{
  color: red;
}
.sbd-map-api-hint .list-element{
  color: blue;
}
.sbd-map-api-hint .image-container img{
    border: 2px solid #fff;
    border-radius: 15px;
    box-shadow: 2px 3px 11px 0px #9a8fd8;
}
.sbd-map-api-hint .image-container img:last-child{
  margin-top: 10px;
  margin-left: 20px;
}
.sbd-map-api-hint .image-container img:first-child{
  margin-top: 10px;
  margin-left: 8px;
}
.sbd_error_field {
    color: red;
    font-weight: 600;
    margin: 5px 0;
}