/*style-1*/
.style-1 .ca-menu {
    margin: 20px auto;
    padding: 0 !important;
    width: 100%;
}

.style-1 .ca-menu li {
background: #fff none repeat scroll 0 0;
    border-left: 10px solid #000;
    box-shadow: 1px 10px 16px rgba(0, 0, 0, 0.1) !important;
    display: block;
    height: 100%;
    margin-bottom: 12px;
    overflow: hidden;
    transition: all 300ms ease-in-out 0s;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
	position: relative;
}

.style-1 .ca-menu li:hover > .style1_phone_icon{
	color:#fff !important;
}
.style-1 .ca-menu li:hover > .style1_link_icon{
	color:#fff !important;
}
.style-1 .ca-menu li:last-child {
    margin-bottom: 0;
}

.style-1 .ca-menu li a {
    color: #666;
    display: flex;
    height: 100%;
    position: relative;
    text-align: left;
    width: 100%;
    border-bottom: medium none;
    align-items: center;
}

.style-1 .ca-icon{
    text-align: center;
    transition: all 300ms linear 0s;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
    width: 15%;
    height: 100%;
    font-size: 5em;
    margin-right: 8px;
}

.style-1 .ca-icon img{

    transition: all 300ms linear 0s;
}

.style-1 .ca-content {
    width: 85%;
    overflow: hidden;
    display: block;
    margin-bottom: 30px;
}

.ca-main, .style-1 .ca-sub {
  margin: 0 !important;
  padding: 0 !important;
}

.style-1 .ca-main {
  font-size: 22px !important;
  transition: all 300ms linear 0s;
}

.style-1 .ca-sub {
  color: #666;
  font-size: 12px !important;
  transition: all 300ms linear 0s;
	padding-top: 6px !important;
	line-height: 16px;
}

.style-1 .ca-menu li:hover {
  background: #000 none repeat scroll 0 0;
  border-color: #fff004;
}

.style-1 .ca-menu li:hover .ca-icon{

}

.style-1 .ca-menu li:hover .ca-icon img{
  color: #fff004;
}

.style-1 .ca-menu li:hover .ca-main {
  color: #fff004;

}

.style-1 .ca-menu li:hover .ca-sub {
  color: #fff;

}

.style-1 .ca-main.subtitle-absent {
  margin-top: 10px !important;
}

/*Upvote Section*/
.style-1 .upvote-section {
  height: 100%;
  position: absolute;
  right: 10px;
  top: 0;
  font-size: 12px;
  width: 30px;
  text-align: center;
}

.style-1 .upvote-btn.upvote-on:hover, .style-1 .ca-menu li:hover .upvote-btn{
  cursor: pointer;
}

.style-1 .upvote-btn, .style-1 .upvote-count{
  display: block;
}

.style-1 .upvote-btn {
  text-align: center;
  padding-top: 10px;
  width: 100%;
  z-index: 805;
}

.style-1 .upvote-count {
  font-size: 10px;
  width: 100%;
  margin-top: -5px;
  z-index: 800;
}

.style-1 .upvote-section .upvote-btn, .style-1 .upvote-section .upvote-count {
  color: #666;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.style-1 .upvote-section .upvote-btn:hover, .style-1 .ca-menu li:hover .upvote-btn, .style-1 .ca-menu li:hover .upvote-count{
  color: #fff;
}



.direction-rtl .qc-grid-item .ca-icon {
  left: auto;
  right: 20px;
  direction: rtl !important;
}

.direction-rtl .qc-grid-item .ca-content {
  direction: rtl;
  left: auto;
  right: 80px;
}

.direction-rtl .qc-grid-item .ca-content .ca-main, .direction-rtl .qc-grid-item .ca-content .ca-sub{
  direction: rtl !important;
  text-align: right !important;  
}

.direction-rtl .upvote-section {
  left: 10px !important;
  right: auto !important;
}
#opd-list-holder .pd-bottom-area {
    height: auto;
    position: absolute;
    bottom: 0px;
    text-align: right;
    z-index: 9;
    max-width: 85%;
    right: 0px;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
}
#opd-list-holder .pd-bottom-area p {
    display: inline-block;
    padding: 0px;
}
#opd-list-holder .pd-bottom-area p a {
    padding: 0px 7px !important;
    border-bottom: none !important;
    font-size: 16px;
}
.style-1 .ca-menu li:hover .pd-bottom-area p a {
    color: #fff;
}


/*
  09-10-19
*/
.style-1 .ca-menu li{
  padding-left: 10px; 
  padding-right: 10px; 
}